#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk
include debian/cdbs/debian-tde.mk

DEB_CMAKE_EXTRA_FLAGS := \
 -DCMAKE_EXPORT_COMPILE_COMMANDS="ON" \
 -DCMAKE_INSTALL_PREFIX="/opt/trinity" \
 -DCONFIG_INSTALL_DIR="/etc/trinity" \
 -DSYSCONF_INSTALL_DIR="/etc/trinity" \
 -DXDG_MENU_INSTALL_DIR="/etc/xdg/menus" \
 -DCMAKE_BUILD_TYPE=RelWithDebInfo \
 -DCMAKE_VERBOSE_MAKEFILE="ON" \
 -DCMAKE_SKIP_RPATH="OFF" \
 -DBUILD_ALL="ON" \
 -DWITH_ALL_OPTIONS="ON"

common-install-indep::
	# Install translations into individual packages
	-for language in `cd debian/tmp/opt/trinity/share/locale; ls -1d */`; do \
		pkg_lang=$$(echo $$language | tr '[:upper:]' '[:lower:]' | sed -e s/@latn/latin/ -e s/[@_]//g); \
		install -d $(CURDIR)/debian/kile-trinity-i18n-$$pkg_lang/opt/trinity/share/locale; \
		cp -a $(CURDIR)/debian/tmp/opt/trinity/share/locale/$$language \
		    $(CURDIR)/debian/kile-trinity-i18n-$$pkg_lang/opt/trinity/share/locale/$$language; \
	done
	-for language in `cd debian/tmp/opt/trinity/share/doc/tde/HTML; ls -1d */ | grep -v '^en/'`; do \
		pkg_lang=$$(echo $$language | tr '[:upper:]' '[:lower:]' | sed -e s/@latn/latin/ -e s/[@_]//g); \
		install -d $(CURDIR)/debian/kile-trinity-i18n-$$pkg_lang/opt/trinity/share/doc/tde/HTML; \
		cp -a $(CURDIR)/debian/tmp/opt/trinity/share/doc/tde/HTML/$$language \
		    $(CURDIR)/debian/kile-trinity-i18n-$$pkg_lang/opt/trinity/share/doc/tde/HTML/$$language; \
	done

install/kile-trinity::
	# Install pixmap
	install -D -p -m0644 debian/kile.xpm debian/kile-trinity/opt/trinity/share/pixmaps/kile.xpm

clean::
	rm -rf debian/kile-trinity-i18n-*
