#! /usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk
include debian/cdbs/debian-tde.mk

DEB_CMAKE_EXTRA_FLAGS := \
 -DCMAKE_EXPORT_COMPILE_COMMANDS="ON" \
 -DCMAKE_INSTALL_PREFIX="/opt/trinity" \
 -DCONFIG_INSTALL_DIR="/etc/trinity" \
 -DSYSCONF_INSTALL_DIR="/etc/trinity" \
 -DXDG_MENU_INSTALL_DIR="/etc/xdg/menus" \
 -DCMAKE_BUILD_TYPE=RelWithDebInfo \
 -DCMAKE_VERBOSE_MAKEFILE="ON" \
 -DCMAKE_SKIP_RPATH="OFF" \
 -DBUILD_ALL="ON" \
 -DWITH_ALL_OPTIONS="ON" \
 -DWITH_ALL_INCLUDED_XSCREENSAVERS="ON" \
 -DWITH_ARTS="ON"

DEB_DH_STRIP_ARGS  := --dbg-package=tdeartwork-trinity-dbg

clean::
	rm -f IconThemes/kdeclassic/22x22/actions/kde/kde.png
	rm -f IconThemes/kdeclassic/32x32/actions/kde/kde.png
	cd tdescreensaver/kxsconfig/ && ./update_hacks.sh

binary-install/tdescreensaver-xsavers-extra-trinity::
	sed -n "s#.*\(/ScreenSavers/.*\.desktop\).*#debian/$(cdbs_curpkg)/opt/trinity/share/applnk/System\1#p" \
	    debian/tdescreensaver-xsavers-trinity.install debian/tdescreensaver-xsavers-webcollage-trinity.install | \
	xargs -r rm -f
