#! /usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk
include debian/cdbs/debian-tde.mk

DEB_CONFIGURE_INCLUDEDIR := /usr/include
DEB_CONFIGURE_MANDIR := /usr/share/man
DEB_CONFIGURE_PREFIX := /usr
DEB_CONFIGURE_INFODIR := /usr/share/info

cdbs_configure_flags := --with-qt-dir=/usr/share/qt3 --disable-rpath --with-xinerama $(cdbs_kde_enable_final) $(cdbs_kde_enable_debug)

DEB_KDE_APIDOX := yes

DEB_INSTALL_CHANGELOGS_tdefilereplace-trinity    := tdefilereplace/ChangeLog

DEB_CONFIGURE_EXTRA_FLAGS := --prefix=/usr --with-extra-libs=/usr/lib

export CPPFLAGS+= -D__dilos__

DEB_CMAKE_EXTRA_FLAGS := \
 -DCMAKE_INSTALL_PREFIX="/usr" \
 -DCONFIG_INSTALL_DIR="/etc/trinity" \
 -DSYSCONF_INSTALL_DIR="/etc/trinity" \
 -DXDG_MENU_INSTALL_DIR="/etc/xdg/menus" \
 -DCMAKE_BUILD_TYPE=RelWithDebInfo \
 -DCMAKE_VERBOSE_MAKEFILE="ON" \
 -DCMAKE_SKIP_RPATH="OFF" \
 -DBUILD_ALL="ON" \
 -DWITH_DPMS="ON" \
 -DWITH_ASUS="ON" \
 -DWITH_VAIO="OFF" \
 -DWITH_THINKPAD="ON" \
 -DWITH_I8K="OFF" \
 -DWITH_SNMP="ON" \
 -DWITH_SENSORS="OFF" \
 -DWITH_XMMS="ON" \
 -DWITH_TDENEWSTUFF="ON" \
 -DCMAKE_C_COMPILER=gcc \
 -DLIB_SUFFIX="/$(DEB_HOST_MULTIARCH)"

DOC_HTML_PRUNE := kcontrol-trinity ktimer-trinity kcharselect-trinity ksim-trinity

DEB_DH_STRIP_ARGS  := --exclude=examples --dbg-package=tdeutils-trinity-dbg

PACKAGES_WITH_LIBS := khexedit-trinity klaptopdaemon-trinity kmilo-trinity kregexpeditor-trinity ksim-trinity
